@import "tailwindcss";

@theme {
  --default-font-family: ui-sans-serif, system-ui, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/* ===============================
   Mic Wave Animation
=============================== */

@keyframes wave {
  0%,
  100% {
    height: 4px;
  }
  50% {
    height: 16px;
  }
}

.animate-wave1 {
  animation: wave 1s infinite ease-in-out;
}

.animate-wave2 {
  animation: wave 1s infinite ease-in-out 0.2s;
}

.animate-wave3 {
  animation: wave 1s infinite ease-in-out 0.4s;
}
